<%- contentFor('body') %>

<h1><%= foods.description%></h1>
<ul>
    
</ul>

<div class="card-deck">
    <div class="card">
      <img src="http://placekitten.com/300/300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%=  %>Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Visto por ultimo em: </li>
            <li class="list-group-item">Gênero: </li> 
            <li class="list-group-item">Aparições na 1ª temporada</li>
            <li class="list-group-item">Aparições na 2ª temporada</li>
            <li class="list-group-item">Aparições na 3ª temporada</li>
            <li class="list-group-item">Aparições no total</li>
            <li class="list-group-item">Status</li>
        </ul>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>    
</div>

<table class="table table-hover">
   <!--  <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>-->
        <tbody>
          <tr>
            <td>Visto por ultimo em:</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>Gênero</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td colspan="2">Aparições na 1ª temporada</td>
            <td>@twitter</td>
          </tr>
          <tr>
                <td>Aparições na 2ª temporada</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                    <td>Aparições na 3ª temporada</td>
                    <td>Thornton</td>
                    <td>@fat</td>
            </tr>
            <tr>
                    <td>Aparições no total</td>
                    <td>Thornton</td>
                    <td>@fat</td>
            </tr>
            <tr>
                    <td>Status</td>
                    <td>Thornton</td>
                    <td>@fat</td>
            </tr>

        </tbody>
      </table>